header{
	text-align: center;
	margin: 0 auto;
	padding-top: 1em;
}

.user_options{
	padding-top: 3em;
	padding-bottom: 2em;
}

.user_login{
	text-decoration:none;
}

.grid{
	width: 85%;
	display: grid;
	grid-template-columns: 337px 1fr;
	margin: 0 auto;
}

.entryDate {
    margin-top: 3em;
}

h2{
	text-align: center;
}

#searchResult, .searchResultSection{
	text-align: center;
}

.topics_container{
	width: 100%;
	background-color: #ADADAD;
}

.orderByOptions{
	display: grid;
	padding-bottom: 1em;
}

.topics[type=button]{
  background-color: #614444;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: list-item;
  margin-bottom: 1em;
  text-align: center;
}

.text_container{
	background-color: #E0E0E0;
	width: 100%;
}

.sections{
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

.login_page{
	margin-top: 10%;
}

#form{
	width: 30%;
	margin:0 auto;
	background-color: #E0E0E0;;
	padding: 1em;
}

#form_heading {
	text-align: center;
}

#username[name="username"],
#password[name="password"]{
	padding: 12px 20px;
	margin: 8px 0;
	display: list-item;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.form_field{
	margin: 0 auto;
	display: table;
}

/* creteUser style */

.createUser{
	width: 30%;
	margin:0 auto;
	background-color: #d3d3d3;
	padding: 1em;
	margin-top: 5%;
}

/* Edit Profile */

.Edit_Profile{
	width: 30%;
    display: table;
    background-color: #E0E0E0;;
    margin-left: 33%;
    margin-top: 4%;
}

.editForm{
	display: grid;
	padding: 1em;
}
.editUserForm{
	width: 30%;
    display: table;
    background-color: #E0E0E0;
    padding: 1em;
    margin:0 auto;
    position: relative;
}
.updateFields{
	padding: 12px 20px;
	margin: 8px 0;
	display: list-item;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 100%;
}

/* Create Topic */

.createTopic{
	width: 30%;
	margin:0 auto;
	background-color: #d3d3d3;
	padding: 1em;
	margin-top: 4em;
}

#inputFields{
	padding: 12px 20px;
	margin: 8px 0;
	display: list-item;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 100%;
}

.createEntry{
	width: 30%;
	margin:0 auto;
	background-color: #d3d3d3;
	padding: 1em;
	margin-top: 4em;
}

.entryDeleteButtonForm {
	margin-left: 50%;
}

.topicDeleteButton{
	display: inline-flex;
}

.usersList{
    display: table;
    background-color: #d3d3d3;
    margin: 0 auto;
}

.verticalName {
	content: "";
	border-left: 1px solid black;
	height: 100%;
}
.summary{
	width: 20%;
	margin:0 auto;
	background-color: #d3d3d3;
	padding: 1em;
	margin-top: 4em;
}
.summaryList{
    display: table;
    background-color: #d3d3d3;
    margin: 0 auto;
}
.users{
	width: 20%;
	margin: 0 auto;
	margin-left: 0;
	background-color: #d3d3d3;
	padding: 1em;
	position: absolute;

}
.userListPage{
	margin-left: 30%;
padding: 1em;
}